<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxq0TXPXm1jsWZTfWXXPLuLtHcC8RcFIg</string>
	<key>GCM_SENDER_ID</key>
	<string>360507756577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.viio.wallet.app.react</string>
	<key>PROJECT_ID</key>
	<string>fir-validation-53710</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-validation-53710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360507756577:ios:72690b0da600b5640fd360</string>
	<key>DATABASE_URL</key>
	<string>https://fir-validation-53710-default-rtdb.firebaseio.com</string>
</dict>
</plist>